{% extends 'base.html' %}

{% block title %}
Burt Queries
{% endblock title %}


{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'query_boss' num_of_tables number_of_rows_1 number_of_columns1 %}" method="POST">
                {% csrf_token %}
                {% for i in list_ %}
                <h4>
                    Table {{forloop.counter}}
                    {% with firstname=forloop.counter %}
                </h4>
                <table class="table">
                    <thead class="thead">
                      <tr>
                        <th scope="col">Keywords</th>
                        {% for iterate_ in number_of_columns %}
                        <th scope="col">
                            <input type="text" class="form-control" placeholder="Testme, multistae etc" name="keyword{{firstname}}{{iterate_}}">
                        </th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for iterate_ in number_of_rows %}
                            <tr>
                                <td><input type="text" class="form-control" placeholder="Dg2Au" name="mainkeyword{{firstname}}{{iterate_}}key"></td>
                                {% for iterate__ in number_of_columns %}
                                <td>Query {{firstname}}{{iterate_}}{{iterate__}} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     
                    </tbody>
                  </table>
                  {% endwith %}
                  <hr>
                {% endfor %}
                <button type="submit" class="btn btn-outline-warning mt-2" name="submit">Proceed</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}