{% extends 'base.html' %}

{% block title %}
Burt Queries
{% endblock title %}


{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'query_boss' num_of_queries 2 3 %}" method="POST">
                {% csrf_token %}
                <!-- <label>Type Keywords With A Comma You want Result For:</label>
                <input type="text" class="form-control" placeholder="multistate, testme" name="keywords" id="">
                <br> -->
                <!--  -->
                {% for i in list_ %}
                <table class="table">
                    <thead class="thead">
                      <tr>
                        <th scope="col">Keywords</th>
                        {% for iterate_ in number_of_columns %}
                        <th scope="col">
                            <input type="text" class="form-control" placeholder="Testme, multistae etc" name="keyword{{iterate_}}">
                        </th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for iterate_ in number_of_rows %}
                            <tr>
                                <td><input type="text" class="form-control" placeholder="Dg2Au" name="keyword{{iterate_}}key"></td>
                                {% for iterate__ in number_of_columns %}
                                <td>0</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                     
                    </tbody>
                  </table>
                  
                  
                <!--  -->
                <hr>
                
                <!-- <label>Enter Query {{i}}</label>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="name_{{i}}" class="form-control" placeholder="Keyword- ex-Dg2Au">
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="q_{{i}}" class="form-control" placeholder="Query">
                    </div>
                </div>
                
                <br> -->
                {% endfor %}
                <button type="submit" class="btn btn-outline-warning mt-2" name="submit">Proceed</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}