{% extends 'base.html' %}

{% block title %}
Burt Query
{% endblock title %}


{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'burt_' %}" method="POST">
                {% csrf_token %}
                <label>Please Enter Your OPEN/NEW Query</label>
                <input type="text" name="open_new" class="form-control" id="">
                <br>
                <label>Please Enter Your TestME Query</label>
                <input type="text" name="test_me" class="form-control" id="">
                <br>
                <label>Please Enter Your STUDY Query</label>
                <input type="text" name="study" class="form-control" id="">
                <br>
                <label>Please Enter Your FIXED Query</label>
                <input type="text" name="fixed" class="form-control" id="">
                <br>
                <label>Please Enter Your CLOSED Query</label>
                <input type="text" name="closed" class="form-control" id="">
                <br>
                <label>Please Enter Your MULTISTATE Query</label>
                <input type="text" name="multistate" class="form-control" id="">
                <button type="submit" class="btn btn-outline-warning mt-2" name="submit">Submit</button>
                <button type="submit" class="btn btn-outline-success mt-2" name="save">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}